name: Test Solutions

on:
  workflow_dispatch:

jobs:
  test-solution:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v39
        with:
          files: |
            **/*.a.py
            **/*.b.py

      - name: Test solutions
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          python test_solutions.py ${{ steps.changed-files.outputs.all_changed_files }}

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Generated Timesheet"
